@import url('https://themes.googleusercontent.com/fonts/css?kit=I5iEdlySSZdl8NbVSMZmGc7GovBotyIC88tosNWOdfU');

.LegalPage__privacy-policy .lst-kix_33ic2qfvwid6-3 > li:before {
  content: "-  ";
}
.LegalPage__privacy-policy .lst-kix_33ic2qfvwid6-4 > li:before {
  content: "-  ";
}
.LegalPage__privacy-policy .lst-kix_33ic2qfvwid6-6 > li:before {
  content: "-  ";
}
.LegalPage__privacy-policy .lst-kix_33ic2qfvwid6-5 > li:before {
  content: "-  ";
}
.LegalPage__privacy-policy .lst-kix_33ic2qfvwid6-7 > li:before {
  content: "-  ";
}
.LegalPage__privacy-policy .lst-kix_33ic2qfvwid6-8 > li:before {
  content: "-  ";
}
.LegalPage__privacy-policy ul.lst-kix_fmc8c4oqksh5-6 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_fmc8c4oqksh5-5 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_fmc8c4oqksh5-8 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_fmc8c4oqksh5-7 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_fmc8c4oqksh5-2 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_fmc8c4oqksh5-1 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_fmc8c4oqksh5-4 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_fmc8c4oqksh5-3 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_fmc8c4oqksh5-0 {
  list-style-type: none;
}
.LegalPage__privacy-policy .lst-kix_fmc8c4oqksh5-8 > li:before {
  content: "\0025a0  ";
}
.LegalPage__privacy-policy .lst-kix_fmc8c4oqksh5-5 > li:before {
  content: "\0025a0  ";
}
.LegalPage__privacy-policy .lst-kix_fmc8c4oqksh5-3 > li:before {
  content: "\0025cf  ";
}
.LegalPage__privacy-policy .lst-kix_fmc8c4oqksh5-7 > li:before {
  content: "\0025cb  ";
}
.LegalPage__privacy-policy .lst-kix_fmc8c4oqksh5-2 > li:before {
  content: "\0025a0  ";
}
.LegalPage__privacy-policy .lst-kix_fmc8c4oqksh5-6 > li:before {
  content: "\0025cf  ";
}
.LegalPage__privacy-policy .lst-kix_33ic2qfvwid6-2 > li:before {
  content: "-  ";
}
.LegalPage__privacy-policy .lst-kix_33ic2qfvwid6-0 > li:before {
  content: "-  ";
}
.LegalPage__privacy-policy .lst-kix_33ic2qfvwid6-1 > li:before {
  content: "-  ";
}
.LegalPage__privacy-policy .lst-kix_fmc8c4oqksh5-4 > li:before {
  content: "\0025cb  ";
}
.LegalPage__privacy-policy ul.lst-kix_8zplq88dcj60-7 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_8zplq88dcj60-8 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_8zplq88dcj60-3 {
  list-style-type: none;
}
.LegalPage__privacy-policy .lst-kix_fmc8c4oqksh5-1 > li:before {
  content: "\0025cb  ";
}
.LegalPage__privacy-policy ul.lst-kix_8zplq88dcj60-4 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_8zplq88dcj60-5 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_8zplq88dcj60-6 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_33ic2qfvwid6-2 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_33ic2qfvwid6-3 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_8zplq88dcj60-0 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_33ic2qfvwid6-0 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_8zplq88dcj60-1 {
  list-style-type: none;
}
.LegalPage__privacy-policy .lst-kix_fmc8c4oqksh5-0 > li:before {
  content: "\0025cf  ";
}
.LegalPage__privacy-policy ul.lst-kix_33ic2qfvwid6-1 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_8zplq88dcj60-2 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_33ic2qfvwid6-6 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_33ic2qfvwid6-7 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_33ic2qfvwid6-4 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_33ic2qfvwid6-5 {
  list-style-type: none;
}
.LegalPage__privacy-policy ul.lst-kix_33ic2qfvwid6-8 {
  list-style-type: none;
}
.LegalPage__privacy-policy .lst-kix_8zplq88dcj60-0 > li:before {
  content: "\0025cf  ";
}
.LegalPage__privacy-policy .lst-kix_8zplq88dcj60-1 > li:before {
  content: "\0025cb  ";
}
.LegalPage__privacy-policy .lst-kix_8zplq88dcj60-4 > li:before {
  content: "\0025cb  ";
}
.LegalPage__privacy-policy .lst-kix_8zplq88dcj60-2 > li:before {
  content: "\0025a0  ";
}
.LegalPage__privacy-policy .lst-kix_8zplq88dcj60-3 > li:before {
  content: "\0025cf  ";
}
.LegalPage__privacy-policy .lst-kix_8zplq88dcj60-7 > li:before {
  content: "\0025cb  ";
}
.LegalPage__privacy-policy .lst-kix_8zplq88dcj60-8 > li:before {
  content: "\0025a0  ";
}
.LegalPage__privacy-policy .lst-kix_8zplq88dcj60-5 > li:before {
  content: "\0025a0  ";
}
.LegalPage__privacy-policy .lst-kix_8zplq88dcj60-6 > li:before {
  content: "\0025cf  ";
}
.LegalPage__privacy-policy ol {
  margin: 0;
  padding: 0;
}
.LegalPage__privacy-policy table td,
.LegalPage__privacy-policy table th {
  padding: 0;
}
.LegalPage__privacy-policy .c15 {
  /*background-color: #ffffff;*/
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Raleway";
  font-style: normal;
}
.LegalPage__privacy-policy .c2 {
  /*background-color: #ffffff;*/
  color: #343434;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Raleway";
  font-style: normal;
}
.LegalPage__privacy-policy .c1 {
  /*background-color: #ffffff;*/
  color: #343434;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Raleway";
  font-style: normal;
}
.LegalPage__privacy-policy .c9 {
  /*background-color: #ff0000;*/
  color: #343434;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Raleway";
  font-style: normal;
}
.LegalPage__privacy-policy .c14 {
  /*background-color: #ffffff;*/
  color: #444444;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Raleway";
  font-style: normal;
}
.LegalPage__privacy-policy .c4 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.LegalPage__privacy-policy .c13 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Raleway";
  font-style: normal;
}
.LegalPage__privacy-policy .c0 {
  padding-top: 14pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.LegalPage__privacy-policy .c7 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.LegalPage__privacy-policy .c11 {
  /*background-color: #ffffff;*/
  font-size: 10pt;
  font-family: "Raleway";
  color: #343434;
  font-weight: 400;
}
.LegalPage__privacy-policy .c6 {
  /*background-color: #ffffff;*/
  font-size: 10pt;
  font-family: "Raleway";
  color: #ff6a6a;
  font-weight: 400;
}
.LegalPage__privacy-policy .c16 {
  padding-top: 12pt;
  padding-bottom: 2pt;
  line-height: 1.15;
  text-align: left;
}
.LegalPage__privacy-policy .c10 {
  padding-top: 0pt;
  padding-bottom: 16pt;
  line-height: 1.15;
  text-align: left;
}
.LegalPage__privacy-policy .c5 {
  /*background-color: #ffffff;*/
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt;
}
.LegalPage__privacy-policy .c8 {
  color: inherit;
  text-decoration: inherit;
}
.LegalPage__privacy-policy .c3 {
  margin-left: 27pt;
}
.LegalPage__privacy-policy .c12 {
  margin-left: 54pt;
}
.LegalPage__privacy-policy .title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.LegalPage__privacy-policy .subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.LegalPage__privacy-policy li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
.LegalPage__privacy-policy p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
.LegalPage__privacy-policy h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.LegalPage__privacy-policy h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.LegalPage__privacy-policy h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.LegalPage__privacy-policy h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.LegalPage__privacy-policy h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.LegalPage__privacy-policy h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
